title: Andpact Blog
remote_theme: mmistakes/minimal-mistakes

plugins:
  - jekyll-include-cache

collections:
  categories:
    output: true
    permalink: /categories/:name/

defaults:
  - scope:
      path: ""
      type: categories
    values:
      layout: category
